@import '../../styles/common';

@mixin stepCard {
  @include container(flex-start);

  margin: 90px 0 30px;
  max-inline-size: 540px;

  h3 {
    font-size: 22px;
    text-align: center;
    margin-block-end: 20px;
  }

  p {
    @include container(flex-start, space-around, row);

    flex-wrap: nowrap;
    margin-block-end: 10px;
    line-height: 25px;

    svg {
      align-self: flex-start;
      margin: 5px 10px 0 0;
      color: green;
    }
  }

  span {
    font-size: 18px;
  }

  @media screen and (width <= 1024px) {
    margin: 90px 0 30px;
    padding: 0 80px;
  }
}

.container {
  @include container;

  h2 {
    margin: 30px 0;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }

  &Description {
    @include container;
  }
}

.cardContainer {
  @include container(flex-start, flex-start, row);

  @media (width <= 720px) {
    @include container;
  }
}

.card {
  @include container(flex-start);

  max-inline-size: 300px;
  margin: 40px 40px 40px 0;

  h3 {
    font-weight: 500;
    font-size: 22px;
    margin-block-start: 20px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-block-start: 10px;
  }

  img {
    max-block-size: 85px;
  }

  &:last-child {
    margin-inline-end: 0;
  }

  @media screen and (width <= 768px) {
    max-inline-size: 100%;
    margin: 40px;
  }

  @media screen and (width <= 414px) {
    p {
      margin-inline-end: 10px;
    }
  }
}

.adv {
  @include container(center, space-around, row);

  margin-block-end: 50px;
  inline-size: 100%;
  max-inline-size: 1100px;
}

.step,
.stepReverse {
  padding: 40px 0;

  div {
    @include stepCard;
  }

  img {
    inline-size: 100%;
  }
}

.step {
  @include container(center, space-around, row);

  @media screen and (width <= 823px) {
    @include container;
  }
}

.stepReverse {
  @include container(flex-start, space-around, row);

  @media screen and (width <= 950px) {
    @include container(center, flex-start, column-reverse);

    padding: 0;
  }

  @media screen and (width <= 414px) {
    padding: 0;
  }

  div {
    @include container(flex-start);

    margin: 90px 0 30px;
    padding: 0 80px;
    inline-size: 100%;
    @media (width <= 720px) {
      padding: 0;
    }
  }
}

.images {
  img {
    max-block-size: 40px;
    cursor: pointer;

    &:first-child {
      display: block;
    }

    &:last-child {
      display: none;
    }
  }

  @media (width <= 414px) {
    img {
      max-block-size: 20px;
      max-inline-size: 70px;
      margin: 0 30px;
    }
  }
}

@media (hover: hover) {
  .images:hover {
    img {
      max-block-size: 40px;
      cursor: pointer;

      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }

  @media (width <= 414px) {
    .images:hover {
      max-block-size: 20px;
      max-inline-size: 70px;
      margin: 0 30px;
    }
  }
}

.whiteStep {
  @include stepCard;
}

.greenStep {
  @include stepCard;

  color: white;
}

@mixin underline {
  position: relative;

  &::after {
    position: absolute;
    margin: 0 auto;
    content: '';
    block-size: 3px;
    inset-block-end: -30px;
    inset-inline: 0;
    inline-size: 100px;
  }
}

.blueUnderline {
  @include underline;

  &::after {
    background: #455a89;
  }
}

.whiteUnderline {
  @include underline;

  &::after {
    background: white;
  }
}

@mixin innerContainer {
  @include container(center, center);

  inline-size: 100%;
  padding: 40px 0 30px;
}

.greyContainer,
.whiteContainer,
.greenContainer,
.blueContainer {
  @include innerContainer;
}

.greyContainer {
  background-color: #fafafa;
}

.whiteContainer {
  background-color: white;
}

.greenContainer {
  background-color: #28d2d0;
}

.blueContainer {
  color: white;
  background-color: #2b62ec;

  h2 {
    margin-block-end: 40px;
  }
}

.headerBar {
  @include container;

  padding-block-start: 75px;
  max-inline-size: 1140px;
  inline-size: 100%;

  h3 {
    font-weight: 500;
    font-size: 30px;
    margin-block-end: 20px;
  }

  p {
    padding: 0 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-block-end: 30px;
  }
}

.stats {
  @include container(center, center, row);

  div {
    @include container(center, center, row);

    margin-block-end: 10px;
    padding: 10px 20px;
    border-inline-end: 1px solid grey;
    @media (width <= 580px) {
      padding: 10px 5px;
    }

    &:last-child {
      border-inline-end: 0;
    }

    p {
      font-weight: 600;
      font-size: 20px;
      margin-inline-end: 10px;
    }

    span {
      font-weight: 400;
      font-size: 18px;
    }
  }

  @media screen and (width <= 414px) {
    flex-wrap: wrap;
  }
}

.headline {
  margin: 20px 0;
  text-align: center;

  /* stylelint-disable-next-line no-descending-specificity */
  span {
    &:first-child {
      padding: 7px 0;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
    }

    &:last-child {
      padding: 7px 0;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      transition: inline-size 0.3s -0.1s;
      margin-inline-start: 5px;
    }
  }

  &Static {
    position: relative;

    &::after {
      position: absolute;
      background: #28d2d0;
      animation: cd-pulse 3s infinite;
      content: '';
      inset-inline-start: 0;
      inset-block-end: 0;
      block-size: 3px;
      inline-size: 0;
    }
  }
}

@keyframes cd-pulse {
  0% {
    inline-size: 0;
  }

  100% {
    inline-size: 100%;
  }
}

.button {
  @include container(center, center, row);
  @include button;

  margin: 40px 0;
  background-color: transparent;
  cursor: pointer;
  block-size: 40px;
  inline-size: 270px;

  &Link {
    @include container(center, center, row);

    flex: 1;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    block-size: 100%;

    @media (hover: hover) {
      &:hover {
        color: inherit;
      }
    }
  }
}
