@import '../../../styles/registration.module';

.signUpPage {
  background-color: #3ea9f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding-block-start: 80px;
  background: white;
  display: flex;
  justify-content: center;
}

.articlesMainContainer {
  inline-size: 60%;
  display: flex;
  min-inline-size: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  @media (width <= 1000px) {
    flex-direction: column;
  }
}

.signUpContainer {
  inline-size: 72%;
  padding: 20px;
  min-inline-size: 280px;
  min-block-size: 650px;
  padding-block-start: 40px;
}
