@import '../../../styles/registration.module';

.signUpPage {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #3ea9f5;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  padding-block-start: 80px;

  background: white;
}

.articlesMainContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;

  inline-size: 60%;
  min-inline-size: 300px;
  @media (width <= 1000px) {
    flex-direction: column;
  }
}

.signUpContainer {
  inline-size: 72%;
  min-inline-size: 280px;
  min-block-size: 650px;
  padding: 20px;
  padding-block-start: 40px;
}
