@import '../../../styles/dashboard.module';

.contestsContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  inline-size: 100%;
  margin-block-start: 15px;
}

.filterContainer {
  min-inline-size: 250px;
  max-block-size: 350px;
  padding: 30px;
  margin-inline-end: 50px;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 5px 10px 3px rgb(0 0 0 / 10%);
  align-items: flex-start;
  background-color: white;
  margin-block-end: 15px;
  @media (width <= 1000px) {
    padding: 10px;
    flex-direction: row;
    margin-inline-end: 0;
    justify-content: center;
  }
}

.filter {
  margin-block-start: 15px;
  align-self: stretch;
  text-align: center;
  color: #46568a;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  @media (width <= 1000px) {
    block-size: 30px;
    margin: 0 5px;
  }

  &:hover {
    background-color: #eefaea;
  }
}

.activeFilter {
  transition: 0.5s background-color;
  margin-block-start: 15px;
  align-self: stretch;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  background-color: #4e618d;
  color: white;
  @media (width <= 1000px) {
    block-size: 30px;
    margin: 0 5px;
  }
}
