.roleContainer {
  border: 1px solid white;
  padding: 14px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: stretch;
  margin-block: 10px;
}

.infoRoleContainer {
  margin-inline-start: 16px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.role {
  color: white;
  font-size: 22px;
}

.infoRole {
  color: white;
  font-size: 12px;
}
