.inputContainer {
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.selectInput {
  inline-size: 550px;
  block-size: 46px;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: white;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  cursor: text;
  margin-block-end: 15px;
  outline: none;
  padding: 0 10px;
  color: #555;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  @media (width <= 700px) {
    inline-size: min-content;
  }

  &:focus {
    border: 2px solid #28d2d0;
  }
}

.inputHeader {
  display: inline-block;
  font-size: 19px;
  color: #585859;
  font-weight: 700;
  margin-block: 12px 5px;
}
