.contestBoxContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 10px;
  background-color: #f9fafb;
  margin-block-end: 15px;
  @media (width <= 400px) {
    flex-direction: column;
  }
}

.mainContestInfo {
  display: flex;
  flex: 1 1;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-inline-end: 20px;
}

.prizeContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-block-start: 5px;
}

.prize {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  span {
    color: #465a89;
    font-size: 15px;
    margin-inline-start: 8px;
  }
}

.guaranteedContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-inline-end: 20px;

  div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #8aca6b;
    border-radius: 7px;
    block-size: 14px;
    inline-size: 14px;
    margin-inline-end: 5px;
  }

  span {
    color: #6e7072;
    font-size: 13px;
  }
}

.contestType {
  margin-block-start: 5px;

  span {
    color: #4e618d;
    font-size: 14px;
  }
}

.titleAndIdContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  inline-size: 100%;
}

.id {
  color: #6e7072;
  font-size: 14px;
}

.title {
  color: #556da5;
  font-weight: 500;
  font-size: 18px;
  margin-inline-end: 20px;
}

.entryAndTimeContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  background-color: white;
  border-inline-start: 1px solid #eee;
  border-inline-end: 1px solid #eee;
  border-block-end: 1px solid #eee;
  box-shadow: 2px 2px rgb(0 0 0 / 20%);
  @media (width <= 400px) {
    margin-block-start: 10px;
    align-self: flex-start;
  }
}

.timeContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-inline-start: 1px solid #46568a;

  span {
    color: #8c8e92;
    font-size: 15px;
    margin-block-start: 3px;
  }
}

.timeContest {
  color: #46568a;
  font-size: 18px;
}

.entriesContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-inline-end: 1px solid #46568a;

  span {
    color: #8c8e92;
    font-size: 15px;
    margin-block-start: 3px;
  }
}

.entriesCounter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  img {
    margin-inline-end: 5px;
  }

  span {
    color: #46568a;
    font-size: 18px;
  }
}
