.mainContestInfoContainer {
  display: flex;
  flex-flow: column wrap;
  align-self: stretch;
  padding-block: 20px 25px;
  margin: 0 25px;
  margin-block-start: 20px;
  border-block-start: 1px solid #f3f3f3;
}

.infoContainer,
.dataContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
}

.contestTypeContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

.editBtn {
  padding: 12px 28px;
  color: white;
  font-size: 20px;
  background-color: #8aca6b;
  border-radius: 8px;
  margin-inline-end: 15px;

  @media (hover: hover) {
    &:hover {
      background-color: #6b8ab1;
    }
  }
}

.data {
  align-self: stretch;
  padding: 0;
  overflow: visible;
  color: #515b5f;
  font-size: 15px;
  overflow-wrap: break-word;
  background-color: white;
  border: none;
  padding-block-start: 8px;
  margin-block-end: 10px;
}

.label {
  margin: 10px 0;
  font-weight: 700;
  font-size: 16px;
}

.file {
  align-self: stretch;
  text-decoration: underline;

  @media (hover: hover) {
    &:hover {
      color: #6b89b0;
    }
  }
}
