.errorContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;

  inline-size: 280px;
  margin: 0 auto;
  padding: 20px;
}

.message {
  font-size: 18px;
  color: red;
}

.try {
  font-size: 18px;
  color: #333;
}

.changeData {
  float: inline-end;

  inline-size: 150px;
  margin-block-start: 50px;
  margin-inline-end: 15px;
  padding: 12px 28px;

  font-size: 20px;
  color: white;
  text-align: center;

  background-color: #8aca6b;
  border-radius: 8px;
  @media (hover: hover) {
    &:hover {
      background-color: #6b8ab1;
    }
  }
}

.componentInputContainer {
  position: relative;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.warning {
  position: absolute;
  inset-block-end: -20px;
  inset-inline: 0;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  padding: 3px 20px;

  font-size: 18px;
  color: #333;

  border: 2px solid #b72522;
  border-radius: 4px;
}

.textArea {
  cursor: text;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  inline-size: 100%;
  block-size: 250px;
  margin-block-end: 15px;
  padding: 10px;

  font-size: 18px;
  color: #555;

  background-color: white;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  outline: none;
  box-shadow: none;

  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  @media (hover: hover) {
    &:focus {
      border: 2px solid #28d2d0;
    }
  }
}

.input,
.select {
  cursor: text;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  inline-size: 100%;
  block-size: 46px;
  margin-block-end: 15px;
  padding: 0 10px;

  font-size: 18px;
  color: #555;

  background-color: white;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  outline: none;
  box-shadow: none;

  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  @media (hover: hover) {
    &:focus {
      border: 2px solid #28d2d0;
    }
  }
}

.formContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  inline-size: 100%;
  @media (width <= 700px) {
    justify-content: center;
  }
}

.selectInputContainer {
  display: flex;
  flex-flow: column wrap;
  inline-size: 100%;
  margin: 15px 0 0;
}

.selectHeader,
.inputHeader {
  display: inline-block;

  margin-block: 12px 5px;

  font-size: 19px;
  font-weight: 700;
  color: #585859;
}

.inputContainer {
  inline-size: 100%;
  margin: 15px 0 0;
}

.fileUploadContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  inline-size: 100%;
  block-size: 80px;
  margin: 10px 0;
  padding: 10px 15px;

  background-color: #eee;
  @media (width <= 700px) {
    inline-size: auto;
  }
  @media (width <= 600px) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    block-size: 120px;
  }
}

.label {
  cursor: pointer;

  display: inline-block;

  inline-size: 150px;
  padding: 20px;

  font-size: 16px;
  text-align: center;

  background-color: white;
}

.fileName {
  overflow: hidden;
  display: inline-block;

  inline-size: 100%;
  padding: 12px;

  text-overflow: ellipsis;
  white-space: nowrap;
  @media (width <= 600px) {
    text-align: center;
  }
}

.fileInput {
  display: none;
}

.footerButtonsContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.lastContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;

  inline-size: 100%;
  max-inline-size: 768px;
  margin: 30px;
  @media (width <= 900px) {
    justify-content: center;
  }
}

.buttonsContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  @media (width <= 512px) {
    flex-direction: column;
    gap: 10px;
  }
}

.prevButtonContainer {
  inline-size: 140px;
  font-size: 22px;
  line-height: 21px;
  background-color: #888;
  @media (width <= 512px) {
    inline-size: 275px;
    min-inline-size: 140px;
  }
  @media (hover: hover) {
    &:hover {
      font-size: 28px;
    }
  }
}

.nextButtonContainer {
  inline-size: 275px;
  min-inline-size: 140px;
  font-size: 26px;
  background-color: #f3875d;
  @media (width <= 700px) {
    block-size: 60px;
    font-size: 22px;
  }
  @media (hover: hover) {
    &:hover {
      font-size: 32px;
    }
  }
}

.prevButtonContainer,
.nextButtonContainer {
  cursor: pointer;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  block-size: 70px;
  margin: 0 15px;

  font-weight: 700;
  color: white;

  border: none;
  border-radius: 8px;
  @media (width <= 400px) {
    margin: 0 10px;
  }
  @media (hover: hover) {
    &:hover {
      transition: font-size 0.1s ease-in-out;
    }
  }
}
