@import '../../../styles/common';

$colorWhite: #fff;
$colorLightGray: #d0d0d0;
$colorDarkGray: #555;
$colorCyan: #28d2d0;

.container {
  @include container($align: center, $justify: flex-start, $dir: column);

  gap: $gap;
  margin: 0 auto;
  padding: $padding;
  font-size: $fontSize;
  inline-size: clamp($minWidth, 100%, $containerWidth);
}

.heading {
  font-weight: 600;
  font-size: 2rem;
}

.inputContainer {
  @include container($align: flex-start, $justify: center, $dir: column);

  gap: $gap;
  padding: $padding 0;
  inline-size: 100%;
}

.input {
  padding: 0 $padding;
  color: $colorDarkGray;
  font-size: 1.25rem;
  background-color: $colorWhite;
  border: 2px solid $colorLightGray;
  border-radius: $borderRadius;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  inline-size: 100%;
  block-size: 3rem;
  margin-block-end: $padding;

  &:focus {
    border: 2px solid $colorCyan;
  }
}

.text {
  font-weight: 500;
  font-size: 1.25rem;
}

.submit {
  @include button;

  font-size: 1.15rem;
}
