@import '../../../styles/common';

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;

  padding: $padding;

  font-size: $fontSize;
}

.headingContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  inline-size: clamp($minWidth, 100%, $containerWidth);
  padding: $padding;
  @media (width < 768px) {
    flex-direction: column;
    gap: $gap;
    text-align: center;
  }
}

.textContainer {
  display: flex;
  flex-flow: row wrap;
  gap: $gap;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
}

.pending {
  color: orange;
}
