@import '../../../styles/common';

.container {
  @include container($align: center, $justify: flex-start, $dir: column);

  padding: $padding;
  font-size: $fontSize;
}

.headingContainer {
  @include container($align: center, $justify: space-between, $dir: row);

  inline-size: clamp($minWidth, 100%, $containerWidth);
  padding: $padding;

  @media (width < 768px) {
    flex-direction: column;
    gap: $gap;
    text-align: center;
  }
}

.textContainer {
  @include container($align: center, $justify: space-between, $dir: row);

  gap: $gap;
}

.heading {
  font-weight: bold;
  font-size: 2rem;
}

.pending {
  color: orange;
}
