.notFound {
  color: #455a89;
  font-size: 20px;
  margin-block-start: 40px;
  inline-size: 100%;
  text-align: center;
}

.offers {
  inline-size: 100%;
  margin-block-start: 20px;
  padding-block-start: 10px;
  align-self: stretch;
}
