.notFound {
  inline-size: 100%;
  margin-block-start: 40px;

  font-size: 20px;
  color: #455a89;
  text-align: center;
}

.offers {
  align-self: stretch;
  inline-size: 100%;
  margin-block-start: 20px;
  padding-block-start: 10px;
}
