.offerContainer {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  padding: 30px 40px 10px;
  background-color: #f9fafb;
  border-radius: 10px;
  margin-block-start: 15px;
  @media (width <= 450px) {
    padding: 10px 0;
  }

  svg {
    position: absolute;
    font-size: 54px;
    inset-inline-start: calc(100% - 35px);
    inset-block-start: -15px;
  }
}

.reject {
  color: red;
}

.resolve {
  color: green;
}

.pending {
  color: orange;
}

.btnsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  margin: 5px 0;
}

.resolveBtn {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #8aca6b;
  border-radius: 8px;
  cursor: pointer;
  inline-size: 100px;

  @media (hover: hover) {
    &:hover {
      background-color: rgb(138 202 107 / 70%);
    }
  }
}

.rejectBtn {
  margin: 0 25px;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #cd5c5c;
  border-radius: 8px;
  cursor: pointer;
  inline-size: 100px;

  @media (hover: hover) {
    &:hover {
      background-color: rgb(205 92 92 / 70%);
    }
  }
}

.mainInfoContainer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  @media (width <= 500px) {
    flex-direction: column;
  }

  svg {
    position: absolute;
    align-self: flex-start;
    color: #4e618d;
    font-size: 26px;
    cursor: pointer;
    transition: font-size 0.2s;
    @media (width <= 450px) {
      inset-block-start: 30px;
    }

    @media (width <= 380px) {
      align-self: flex-end;
      inset-block-start: 100px;
    }

    @media (width <= 500px) {
      align-self: flex-end;
    }

    @media (hover: hover) {
      &:hover {
        font-size: 34px;
        transition: font-size 0.2s;
      }
    }
  }
}

.userInfo {
  min-inline-size: 215px;
}

.responseConainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
  inline-size: 70%;
  @media (width <= 800px) {
    margin-block-start: 10px;
    max-inline-size: 200px;
  }
}

.responseLogo {
  inline-size: auto;
  block-size: 100px;
}

.response {
  align-self: stretch;
  color: #556da5;
  font-size: 18px;
  text-align: center;
  overflow-wrap: break-word;
  margin-inline-start: 10px;
  margin-block-end: 10px;
}

.creativeRating {
  display: flex;
  flex-wrap: nowrap;
  margin-block-start: 5px;
  align-items: center;
}

.userScoreLabel {
  margin-inline-end: 10px;
  color: #556da5;
  font-size: 15px;
}

.creativeInfoContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  img {
    inline-size: 50px;
    block-size: 50px;
    border-radius: 25px;
  }
}

.nameAndEmail {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;

  span {
    color: #556da5;
    font-weight: 500;
    font-size: 16px;
    margin-inline-start: 10px;
  }
}

.winner {
  background-color: #8aca6b;
}

.loser {
  background-color: #cd5c5c;
}
