.previewChatBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  block-size: 60px;
  cursor: pointer;
  border-block-end: 1px solid #4e618d;

  &:hover {
    background-color: #e5e5e5;
  }

  img {
    border-radius: 50%;
    inline-size: 46px;
    block-size: 46px;
    margin-inline-start: 10px;
  }
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: flex-start;
  padding: 0 15px;
  padding-inline-end: 10px;
  overflow: hidden;
  padding-block-end: 5px;

  span {
    color: grey;
    font-size: 15px;
  }
}

.buttonsContainer {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  svg {
    inline-size: 25px;
    text-align: center;
    font-size: 16px;
    transition: font-size 0.2s ease;

    &:hover {
      font-size: 20px;
      color: red;
    }
  }
}

.time {
  margin-inline-end: 10px;
}

.interlocutorInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.interlocutorMessage {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: grey;
  font-size: 15px;
  inline-size: 65px;
}

.interlocutorName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6b8ab1;
  inline-size: 65px;
  font-weight: 500;
  font-size: 16px;
}
