.messageList {
  block-size: 280px;
  overflow: auto;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &::-webkit-scrollbar {
    inline-size: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f3f3f3;
  }

  &::-webkit-scrollbar-thumb {
    background: #6b89b0;
  }
}

.date {
  align-self: center;
  margin: 4px 0;
  color: white;
  background-color: black;
  opacity: 0.4;
  border-radius: 6px;
  padding: 2px;
}

.ownMessage {
  align-self: flex-end;
  background-color: #6b89b0;
  border-start-start-radius: 8px;
  border-start-end-radius: 4px;
}

.message {
  align-self: flex-start;
  background-color: #4e618d;
  border-start-start-radius: 4px;
  border-start-end-radius: 8px;
}

.ownMessage,
.message {
  color: white;
  max-inline-size: 200px;
  padding: 6px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  margin: 4px 0;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.messageTime {
  position: relative;
  float: inline-end;
  margin-inline-start: 5px;
  inset-block-start: 12px;
  font-size: 10px;
  color: white;
}
