@import '../../../styles/contest.module';

.combinedBundles {
  padding: 25px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

.baseBundles {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding-inline: 15px;
  box-sizing: border-box;
  max-inline-size: 1200px;
}

.infoCombinedBundles,
.infoBaseBundles {
  padding-inline: 15px;
  padding-block-end: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;

  hr {
    inline-size: 100px;
    margin-block: 20px;
    border-block-start: 2px solid #28d2d1;
  }
}

.baseBundleContainer {
  background-color: #28d2d1;
  padding: 25px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.info {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-block-end: 10px;
  font-weight: 300;
}

.headerInfo {
  font-size: 32px;
  margin-block: 20px 10px;
  line-height: 1.1;
  text-align: center;
  color: white;

  span {
    font-weight: 700;
  }
}

.buttonGroup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  gap: 16px;
}
