@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')

$mainColor: #377dff
$backgroundColor: rgba(55,125,255,.1)
$borderColor: #e7eaf3
$textColorDark: #1e2022
$textColorLight: #77838f
$buttonTextColor: #fff
$getStartedHeadingColor: #00dffc
$getStartedTextColor: #fff
$gradientStartColor: #2d1582
$gradientEndColor: #19a0ff

$fontSize: 16px
$gap: 8px
$padding: calc($gap * 2)
$borderRadius: 5px

$minWidth: 320px
$containerWidth: 1280px

@mixin container
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center
  width: clamp($minWidth, 100%, $containerWidth)
  margin: 0 auto
  padding: calc($padding * 4) calc($padding * 2)
  font-family: "Poppins", Helvetica, Arial, sans-serif
  font-size: $fontSize

  & a, button
    font-family: "Poppins", Helvetica, Arial, sans-serif

.heading
  font-weight: 500
  font-size: 2rem
  margin: $padding

.subHeading
  font-size: 0.7rem
  margin-bottom: $gap
  padding: $gap calc($gap * 2)
  color: $mainColor
  background-color: $backgroundColor
  border-radius: 1rem
  width: fit-content

.text
  margin-bottom: calc($gap * 2)
  line-height: 1.7
  color: $textColorLight

.icon
  width: 72px

@mixin button($color, $backgroundColor, $borderRadius)
  color: $color
  background-color: $backgroundColor
  border: none
  border-radius: $borderRadius
  padding: calc($gap * 1.5) calc($gap * 2)
  text-decoration: none
  text-align: center
  line-height: 1.5
  transition: all 0.3s ease-in-out
  @media (width < 480px)
    display: block
    max-width: 100%

  &:hover
    box-shadow: 0 4px 11px rgba(55,125,255,.35)
    transform: translateY(-3px)

  & > svg
    margin-right: $gap
