@import './common.module'

.container
  @include container

.contentsContainer,
.contactsContainer
  padding: calc($padding * 4) calc($padding * 4) calc($padding * 4) calc($padding * 3)

.contentsContainer
  box-shadow: 0 10px 40px 10px rgba(140,152,164,.175)

.contactsContainer
  color: $buttonTextColor
  background-color: $mainColor

.contents
  display: flex
  gap: $padding

  & > i
    width: 2rem
    height: 2rem
    flex-shrink: 0
    text-align: center
    line-height: 2
    color: $mainColor
    background-color: $backgroundColor
    border-radius: 1rem

.smallHeading,
.bigHeading
  font-weight: 500
  margin-bottom: $padding

.smallHeading
  font-size: 1.25rem

.bigHeading
  font-size: 1.5rem

.heading
  margin: 0
  margin-bottom: $padding

.text
  color: inherit

  & > a
    color: $mainColor
    text-decoration: none

.button
  @include button($color: $mainColor, $backgroundColor: $buttonTextColor, $borderRadius: 2rem)
  display: block

.link
  display: inline-block
  color: $buttonTextColor
  text-decoration: none
  margin: $padding 0

  & > img
    margin-right: $gap
