@import './common.module'

$minWidth: 320px
$containerWidth: 1280px
$imageWidth: 500px
$contentWidth: calc($containerWidth - $imageWidth)

.container
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center
  width: clamp($minWidth, 100%, $containerWidth)
  margin: 0 auto
  padding: calc($padding * 2)
  font-family: "Poppins", Helvetica, Arial, sans-serif
  font-size: $fontSize

.contents
  width: clamp($minWidth, 60%, $contentWidth)
  @media (width < 1000px)
    width: clamp($minWidth, 80%, 900px)
  @media (width < 768px)
    width: 90%
  @media (width < 480px)
    width: 100%

.imageContainer
  width: clamp($minWidth, 40%, $imageWidth)
  @media (width < 1000px)
    display: none

.mainHeading
  margin-bottom: $gap
  font-size: 2.5rem
  font-weight: 600
  color: $textColorDark

.text
  margin-bottom: calc($gap * 2)
  line-height: 1.7
  color: $textColorLight

.button
  @include button($color: $buttonTextColor, $backgroundColor: $mainColor, $borderRadius: 25px)
