@import './common.module';

.container {
  @include container;
  align-items: flex-start;
  gap: calc($gap * 4);
  @media (width < 1024px) {
    flex-direction: column;
  }
}

.linksContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: $mainColor;
  border-radius: $borderRadius;
  padding: $padding;
  @media (width >= 1024px) {
    margin-top: calc($padding * 4);
    width: 25%;
  }
}

.link {
  padding: $padding;

  & > a {
    color: $buttonTextColor;
    text-decoration: none;
  }
}

.answersContainer {
  @media (width >= 1024px) {
    width: 75%;
  }
}

.heading {
  margin: 0;
  margin-bottom: $padding;
  color: $mainColor;
}

.answers {
  padding: calc($padding * 4) 0;
  &:nth-child(n + 2) {
    border-top: 1px solid $borderColor;
  }
}
