@import '../../../styles/auth.module';

.loginForm {
  inline-size: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px 20px 30px;

  h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.6px;
    color: white;
    margin-block: 20px 28px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  align-self: stretch;
}
