@import '../../../styles/input.module';

.offerContainer {
  align-self: center;
  margin-block-start: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  @media (width <= 500px) {
    align-self: stretch;
    flex-direction: column;
  }
}

.form {
  margin-block-start: 10px;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.btnOffer {
  margin-block-start: 10px;
  background-color: #8aca6b;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  @media (width <= 500px) {
    margin-inline-start: 0;
    margin-block-start: 10px;
  }

  &:hover {
    background-color: #4e618d;
  }
}

.inputContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.fieldWarning {
  position: absolute;
  align-self: flex-end;
  inset-block: 0;
  margin-inline-end: 5px;
  margin-block-end: 1px;
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: red;
  text-align: center;
}

.input {
  background-color: white;
  border-color: #6b89b0;
  border-radius: 4px;
  color: #9ca8b7;
  font-size: 16px;
  padding: 4px 6px;
  outline: none;
}

.notValid {
  border: 2px solid red !important;
}

.imageUploadContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  img {
    display: none;
  }
}
