.notFound {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #8aca6b;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;
  block-size: 110px;
}

.form {
  background-color: #8aca6b;
  block-size: 110px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;

  button {
    margin-block-start: 5px;
    border-radius: 8px;
    padding: 4px 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: #4e618d;
    color: white;
  }
}

.selectInputContainer {
  display: flex;
  flex-flow: column wrap;
  inline-size: 100%;
}

.select {
  align-self: stretch;
  block-size: 24px;
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 18px;
  background-color: white;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  cursor: text;
  margin-block-end: 5px;
  outline: none;
  padding: 0 10px;
  color: #555;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;

  &:focus {
    border: 2px solid #28d2d0;
  }
}

.selectHeader {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: #585859;
  font-weight: 700;
  margin-block: 12px 5px;
}
