.catalogCreationContainer {
  position: absolute;
  z-index: 500;
  color: white;
  border-radius: 8px;
  inset-block-start: -40px;
  inset-inline-start: 172px;
  inline-size: 150px;

  svg {
    position: absolute;
    z-index: 700;
    color: #4e618d;
    font-size: 22px;
    background-color: white;
    border-radius: 11px;
    cursor: pointer;
    inset-block-start: -7px;
    inset-inline-start: -7px;

    @media (hover: hover) {
      &:hover {
        color: red;
      }
    }
  }
}

.buttonsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  span {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #4e618d;
    border: 1px solid white;
    cursor: pointer;
    border-start-end-radius: 8px;
    border-start-start-radius: 8px;
    border-block-end: none;
    block-size: 24px;

    @media (hover: hover) {
      &:hover {
        color: #4e618d;
        background-color: #f3f3f3;
      }
    }

    &:first-child {
      border-inline-end: none;
    }
  }

  .active {
    z-index: 600;
    flex: 1.3;
    background-color: #8aca6b;
  }
}
