.catalogContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-block-size: 50px;
  cursor: pointer;
  border-block-end: 1px solid #4e618d;
  align-self: stretch;
  padding: 0 10px;
}

.infoContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.numbers {
  margin-inline-start: 5px;

  @media (hover: hover) {
    &:hover {
      background-color: #e5e5e5;
    }
  }

  svg {
    margin-inline-start: 10px;
    font-size: 18px;
    transition: font-size 0.2s;

    @media (hover: hover) {
      &:hover {
        color: red;
        font-size: 24px;
        transition: font-size 0.2s;
      }
    }
  }
}

.catalogName {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  inline-size: 110px;
  color: black;
}
