.form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #8aca6b;
  block-size: 110px;
  border-end-start-radius: 8px;
  border-end-end-radius: 8px;

  button {
    padding: 4px 6px;
    color: white;
    font-size: 16px;
    background-color: #4e618d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}

.inputContainer {
  display: flex;
  flex-flow: column wrap;
  align-self: stretch;
  justify-content: center;
  padding: 0 10px;
  background-color: #8aca6b;
  block-size: 60px;
}

.fieldWarning {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  color: white;
  font-size: 15px;
  text-align: center;
  border: 1.5px solid #b72522;
  border-radius: 4px;
  margin-block-start: 12px;
}

.input {
  flex: 1;
  padding: 4px;
  color: #9ca8b7;
  font-size: 14px;
  background-color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  max-block-size: 26px;
}

.notValid {
  border: 2px solid red !important;
}
