$fontSize: 16px;
$gap: 8px;
$padding: calc($gap * 2);
$borderRadius: 5px;
$minWidth: 320px;
$containerWidth: 1280px;

@mixin container($align: center, $justify: flex-start, $dir: column) {
  display: flex;
  flex-flow: $dir wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin button {
  padding: 10px 22px;
  color: #28d2d0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #28d2d0;
  border-radius: 5px;
  max-inline-size: 340px;
  margin-block-end: 10px;

  @media (hover: hover) {
    &:hover {
      color: white;
      background-color: #28d2d0;
    }
  }

  &[disabled] {
    color: #28d2d0;
    background-color: #dedede;
  }
}
