.startContestHeader {
  display: flex;
  flex-direction: row;
  padding: 35px;
  box-sizing: border-box;
  justify-content: center;
}

.startContestInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: 15px;
  box-sizing: border-box;
  max-inline-size: 480px;
  @media (width <= 750px) {
    max-inline-size: none;
  }

  h2 {
    color: #333;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    margin-block: 20px 10px;
    line-height: 1.1;
  }

  span {
    font-weight: 300;
    padding-inline-end: 20px;
    margin-block-end: 10px;
    font-size: 14px;
    line-height: 1.428;
    color: #333;
  }
}
