.mainContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 auto;
  inline-size: 1200px;
  margin-block-start: 50px;
  @media (width <= 1400px) {
    inline-size: auto;
  }

  @media (width <= 1000px) {
    flex-direction: column;
  }
}

.errorContainer {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  inline-size: 260px;
}

.message {
  color: red;
  font-size: 18px;
}

.try {
  color: #333;
  font-size: 18px;
}
