.imgStyle {
  display: block;
  inline-size: 120px;
  block-size: 120px;
  align-self: center;
}

.uploadInputContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  margin-block-end: 10px;

  span {
    font-size: 14px;
    margin-block-end: 4px;
    color: red;
  }

  input {
    display: none;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #66afe9;
  }

  label {
    padding: 5px 10px;
    color: white;
    background-color: #455a89;
    border-radius: 4px;
    align-self: flex-start;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: white;
        background-color: #f27e51;
      }
    }
  }
}
