.headerSignUpPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 26px;
  padding-inline: 45px 60px;
  @media (width <= 530px) {
    padding: 0;
  }
}

.linkLoginContainer {
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

  a {
    padding: 10px 20px;
  }

  span {
    color: white;
  }
}

.orangeSpan {
  color: #f18762;
}
