.bundleContainer {
  display: inline-block;
  flex: 1 1;

  min-inline-size: 170px;
  max-inline-size: 350px;
  block-size: 350px;
  margin-block-end: 30px;
  margin-inline: 20px;
  padding: 15px 30px;

  text-align: center;

  background: white;
  @media (hover: hover) {
    &:hover {
      box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);

      .infoContainer {
        hr {
          border-block-start: 1px solid #28d2d1;
        }
      }
    }
  }
}

.imgContainer {
  inline-size: 48px;
  block-size: 48px;
  margin: 20px 0;
}

.infoContainer {
  display: flex;
  flex-flow: column wrap;
  align-self: center;

  hr {
    inline-size: 60px;
    margin-block: 15px;
    border-block-start: 1px solid #ccc;
  }
}

.bundleName {
  margin-block: 10px;

  font-size: 17px;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}

.infoBundle {
  margin: 0 0 10px;

  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
}

.combinedBundle {
  background: #f5f5f5;
}
