.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 15px 0;
  box-shadow: 2px 1px 4px #ccc;
}

.errorMessage {
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: red;
  border: 2px solid #333;
  border-radius: 12px;
  inline-size: 300px;
  margin-block-start: 20px;
}

.mainContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  @media (width <= 950px) {
    flex-direction: column;
    align-items: center;
  }
}

.orderInfoContainer {
  z-index: 500;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 60px;
  inline-size: 480px;
  margin-block-start: 5px;
  @media (width <= 500px) {
    order: 500;
    padding: 0 10px;
    inline-size: 300px;
  }

  a {
    align-self: flex-end;
    color: #28d2d0;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-decoration: none;
  }
}

.resultPriceContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
  padding: 15px 0 25px;
  inline-size: 70%;

  span {
    font-weight: 400;
    font-size: 24px;
  }
}

.orderHeader {
  padding: 15px 0;
  color: #333;
  font-size: 26px;
  line-height: 1.4;
  inline-size: 100%;
  border-block-end: 1px solid #eee;
}

.packageInfoContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 20px;
  inline-size: 100%;
  border-block-end: 1px solid #eee;
}

.packageName {
  color: #333;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
}

.packagePrice {
  font-weight: 600;
  font-size: 21px;
}

.paymentContainer {
  padding: 0 15px;
  @media (width <= 480px) {
    padding: 0;
  }
}

.headerLabel {
  display: inline-block;
  padding: 35px 0 20px;
  color: #333;
  font-size: 26px;
}
