@import 'styles/auth.module'

.loginForm
  width: 600px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch
  padding: 10px 20px 30px

  h2
    text-align: center
    font-size: 34px
    letter-spacing: 0.6px
    color: white
    margin-top: 20px
    margin-bottom: 28px

.inputContainer
  align-self: stretch

.errorValid
  font-size: 14px
  text-align: center
  border: 1px solid red
  align-self: stretch
  margin: 5px 20px 15px
  color: white
  padding-top: 6px
  padding-bottom: 6px
