@import '../../../styles/common';

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.navContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  @media (max-width: 920px) {
    justify-content: center;
  }

  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.logo {
  align-self: flex-end;
  @media (max-width: 920px) {
    display: none;
  }
}

.startContestBtn {
  @include button;
}

.leftNav {
  display: flex;
  @media (max-width: 750px) {
    align-items: center;
    flex-direction: column;
  }
}

.loginSignnUpHeaders {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ebebeb;
  margin-bottom: 13px;
}

.userButtonsContainer {
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-left: 1px solid #ebebeb;
  height: 40px;
  @media (max-width: 600px) {
    margin-left: 60px;
  }

  @media (max-width: 400px) {
    margin-left: 20px;
  }

  @media (max-width: 320px) {
    margin-left: 0;
  }

  & > a > span {
    padding: 0 15px;
    color: #718888;
    font-weight: 400;
    font-size: 14px;
    border-right: 1px solid #ebebeb;
  }
}

.numberContainer {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  margin-left: 120px;
  height: 40px;
  @media (max-width: 600px) {
    margin-left: 10px;
  }

  @media (max-width: 360px) {
    padding: 0 5px;
    margin-left: 0;
  }

  & > a {
    color: #337ab7;
    font-size: 14px;
    margin-left: 10px;
    @media (max-width: 360px) {
      font-size: 12px;
    }
  }
}

.fixedHeader {
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  background-color: rgb(69, 90, 137);
  border-bottom: 3px solid rgb(255, 255, 255);
  height: 30px;

  & > a {
    font-size: 8pt;
    letter-spacing: 0.3px;
    color: lightyellow;
    text-decoration: underline;
  }
}

.info {
  font-size: 8pt;
  letter-spacing: 0.3px;
  color: white;
  margin-right: 4px;
  @media (max-width: 600px) {
    display: none;
  }
}
