:root {
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255 255 255 / 87%);
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  display: flex;
  flex-wrap: nowrap;
  place-items: center;

  min-inline-size: 320px;
  min-block-size: 100vb;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;

  padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;

  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;

  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  button {
    background-color: #f9f9f9;
  }
  @media (hover: hover) {
    a:hover {
      color: #747bff;
    }
  }
}

/* App.css */
#root {
  max-inline-size: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  block-size: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}
@media (hover: hover) {
  a:hover {
    color: #535bf2;
  }

  button:hover {
    border-color: #646cff;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
