@import '../../../../styles/contest.module';

.container {
  padding: 40px 0 15px;
  background: #f8f8f8;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-block-end: 1px solid #eee;
}

.formContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  inline-size: 100%;
  max-inline-size: 768px;
}
