@import './common.module';

.container {
  @include container;

  padding: 0;
  inline-size: 100%;
  background-image: linear-gradient(
    150deg,
    $gradientStartColor 0%,
    $gradientEndColor 100%
  );
  position: relative;
  z-index: 1;
}

.icon {
  position: absolute;
  inline-size: 200px;
  z-index: -1;

  &:first-child {
    inset-block-start: 0;
    inset-inline-start: 0;
    align-self: flex-start;
  }

  &:last-child {
    inset-block-end: 0;
    inset-inline-end: 0;
    align-self: flex-end;
  }
}

.headingContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  padding: calc($padding * 2) $padding;
}

.getStartedHeading {
  font-size: 2rem;
  font-weight: 600;
  margin-block-end: $padding;
  color: $getStartedHeadingColor;
}

.getStartedText {
  font-size: 1.25rem;
  margin-block-end: $padding;
  color: $getStartedTextColor;
}

.button {
  @include button(
    $color: $textColorDark,
    $backgroundColor: $getStartedTextColor,
    $borderRadius: $borderRadius
  );
  @media (width < 480px) {
    inline-size: calc(100% - $padding * 2);
  }
}
