@import './common.module';

$borderColor: rgb(30 32 34 / 20%);
$iconSize: 80px;

.cardContainer {
  @include container;

  display: flex;
  justify-content: center;
  align-items: center;
  @media (width < 768px) {
    gap: calc($gap * 6);
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: calc($gap * 2);
  position: relative;
  @media (width >= 768px) {
    width: 33%;
    padding: 0 calc($padding * 3);

    &:nth-child(n + 2)::before {
      content: '';
      position: absolute;
      left: 0;
      top: 25%;
      height: 4rem;
      border-left: 1px solid $borderColor;
      transform: rotate(15deg);
    }
  }

  b {
    font-weight: 600;
    color: $textColorDark;
  }
}

.icon {
  width: $iconSize;
  height: $iconSize;
}

.text {
  padding: 0;
}
