.footerTop {
  width: 100%;
  background-color: #2b3030;
  padding: 80px 0;
  color: white;

  article {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-around;
    @media (width >= 768px) {
      width: 750px;
    }

    @media (width >= 992px) {
      width: 970px;
    }

    @media (width >= 1200px) {
      width: 1170px;
    }

    section {
      display: flex;
      flex: 1;
      min-width: 250px;
      max-width: 300px;
      flex-direction: column;
      padding: 15px;

      h2 {
        font-size: 16px;
        color: #fff;
        display: block;
        padding-bottom: 20px;
        margin-bottom: 0;
      }

      a {
        padding-bottom: 7px;
        font-size: 14px;
        text-decoration: none;
        color: #767979;

        &:hover {
          color: rgb(249 118 75);
        }
      }
    }
  }
}
