@import '../../../styles/common';

.headerContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  inline-size: 100%;
}

.navContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  inline-size: 100%;
  border-block-end: 1px solid #ebebeb;
  @media (width <= 920px) {
    justify-content: center;
  }

  @media (width <= 750px) {
    flex-direction: column;
  }
}

.logo {
  align-self: flex-end;
  @media (width <= 920px) {
    display: none;
  }
}

.startContestBtn {
  @include button;
}

.leftNav {
  display: flex;
  flex-wrap: nowrap;
  @media (width <= 750px) {
    flex-direction: column;
    align-items: center;
  }
}

.loginSignnUpHeaders {
  margin-block: 30px 13px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ebebeb;
}

.userButtonsContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-inline-start: 100px;
  border-inline-start: 1px solid #ebebeb;
  block-size: 40px;
  @media (width <= 600px) {
    margin-inline-start: 60px;
  }

  @media (width <= 400px) {
    margin-inline-start: 20px;
  }

  @media (width <= 320px) {
    margin-inline-start: 0;
  }

  & > a > span {
    padding: 0 15px;
    color: #718888;
    font-weight: 400;
    font-size: 14px;
    border-inline-end: 1px solid #ebebeb;
  }
}

.numberContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  color: inherit;
  text-decoration: none;
  border-inline-end: 1px solid #ebebeb;
  border-inline-start: 1px solid #ebebeb;
  margin-inline-start: 120px;
  block-size: 40px;
  @media (width <= 600px) {
    margin-inline-start: 10px;
  }

  @media (width <= 360px) {
    padding: 0 5px;
    margin-inline-start: 0;
  }

  & > a {
    color: #337ab7;
    font-size: 14px;
    margin-inline-start: 10px;
    @media (width <= 360px) {
      font-size: 12px;
    }
  }
}

.fixedHeader {
  position: fixed;
  z-index: 500;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(69 90 137);
  inline-size: 100vi;
  border-block-end: 3px solid rgb(255 255 255);
  block-size: 30px;

  & > a {
    color: lightyellow;
    font-size: 8pt;
    letter-spacing: 0.3px;
    text-decoration: underline;
  }
}

.info {
  color: white;
  font-size: 8pt;
  letter-spacing: 0.3px;
  margin-inline-end: 4px;
  @media (width <= 600px) {
    display: none;
  }
}
