.nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  @media (width <= 920px) {
    padding: 0;
  }

  @media (width <= 700px) {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-inline-end: 30px;
    @media (width <= 700px) {
      padding: 0 15px;
      inline-size: 100%;
    }

    span {
      padding: 15px 0;
      color: #495d8b;
      font-weight: 300;
      font-size: 15px;
    }

    ul {
      display: none;
      margin: 0;
      padding: 0;
      inline-size: 160px;

      li {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        inline-size: 100%;

        a {
          padding: 10px 15px;
          color: #333;
          font-size: 12px;
          text-decoration: none;
          inline-size: 100%;

          @media (hover: hover) {
            &:hover {
              color: #f27e51;
            }
          }
        }

        @media (hover: hover) {
          &:hover {
            background: #f9fafb;
          }
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        span {
          color: #f27e51;
        }

        ul {
          position: absolute;
          z-index: 1000;
          display: block;
          background-color: white;
          border: 1px solid #eee;
          inset-block-start: 130px;
          @media (width <= 700px) {
            inset-block-start: auto;
            inset-inline-start: 145px;
          }
        }
      }
    }
  }

  &:last-child li {
    ul {
      inline-size: 200px;
    }
  }
}

.last {
  inline-size: 100%;
  padding-block-start: 8px;
  border-block-start: 1px solid aquamarine;
}
