.nav {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  @media (width <= 920px) {
    padding: 0;
  }

  @media (width <= 700px) {
    flex-direction: column;
    align-items: flex-start;
  }

  li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-inline-end: 30px;
    @media (width <= 700px) {
      inline-size: 100%;
      padding: 0 15px;
    }

    span {
      color: #495d8b;
      font-size: 15px;
      font-weight: 300;
      padding: 15px 0;
    }

    ul {
      padding: 0;
      margin: 0;
      inline-size: 160px;
      display: none;

      li {
        box-sizing: border-box;
        inline-size: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

        a {
          inline-size: 100%;
          padding: 10px 15px;
          font-size: 12px;
          text-decoration: none;
          color: #333;

          &:hover {
            color: #f27e51;
          }
        }

        &:hover {
          background: #f9fafb;
        }
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &:hover {
      span {
        color: #f27e51;
      }

      ul {
        display: block;
        position: absolute;
        border: 1px solid #eee;
        z-index: 1000;
        inset-block-start: 130px;
        background-color: white;
        @media (width <= 700px) {
          inset-block-start: auto;
          inset-inline-start: 145px;
        }
      }
    }
  }
  /* stylelint-disable-next-line no-descending-specificity */
  &:last-child li {
    ul {
      inline-size: 200px;
    }
  }
}

.last {
  inline-size: 100%;
  padding-block-start: 8px;
  box-sizing: border-box;
  border-block-start: 1px solid aquamarine;
}
