.navList {
  &Item {
    inline-size: 100%;

    @media (width <= 700px) {
      padding: 0 15px;
    }

    @media (hover: hover) {
      &:hover {
        background: #f9fafb;
      }
    }
  }

  &LinkText,
  &Btn {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
    margin-inline-start: 0;
  }

  &LinkText {
    color: #495d8b;
    font-weight: 300;
    inline-size: 100%;
  }

  &Btn {
    color: #333;
    text-align: start;
    background: #fff;
    border: none;
    inline-size: 100%;

    @media (hover: hover) {
      &:hover {
        background: inherit;
      }
    }
  }
}

.badge {
  position: absolute;
  font-weight: 600;
  text-align: center;
  background-color: #f00;
  border-radius: 1rem;
  inset-inline-end: 10px;
  inset-block-end: 85px;
  inline-size: 20px;
  block-size: 20px;
}
