.navList {
  &Item {
    box-sizing: border-box;
    inline-size: 100%;

    @media (width <= 700px) {
      padding: 0 15px;
    }

    &:hover {
      background: #f9fafb;
    }
  }

  &LinkText,
  &Btn {
    box-sizing: border-box;
    display: inline-block;
    margin-inline-start: 0;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
  }

  &LinkText {
    color: #495d8b;
    font-weight: 300;
    inline-size: 100%;
  }

  &Btn {
    inline-size: 100%;
    color: #333;
    background: #fff;
    border: none;
    text-align: start;

    &:hover {
      background: inherit;
    }
  }
}

.badge {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-end: 85px;
  inline-size: 20px;
  block-size: 20px;
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: #f00;
}
