.navList {
  &Item {
    box-sizing: border-box;
    width: 100%;

    @media (max-width: 700px) {
      padding: 0 15px;
    }

    &:hover {
      background: #f9fafb;
    }
  }

  &LinkText,
  &Btn {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
  }

  &LinkText {
    color: #495d8b;
    font-weight: 300;
    width: 100%;
  }

  &Btn {
    width: 100%;
    color: #333;
    background: #fff;
    border: none;
    text-align: left;

    &:hover {
      background: inherit;
    }
  }
}

.badge {
  position: absolute;
  right: 10px;
  bottom: 85px;
  width: 20px;
  height: 20px;
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  background-color: #ff0000;
}
