.errorContainer {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 15px 10px;
  background-color: red;
  border-radius: 18px;
  cursor: pointer;
  inline-size: auto;
  inset-block-start: 80px;
  inset-inline-start: 80px;
}

.container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  background-color: red;
  border-radius: 26px;
  inline-size: 120px;

  span {
    color: white;
    font-size: 16px;
  }

  svg {
    position: absolute;
    color: blue;
    font-size: 26px;
    cursor: pointer;
    transition: font-size 0.2s;
    inset-block-start: -4px;
    inset-inline-end: -4px;

    @media (hover: hover) {
      &:hover {
        color: white;
        font-size: 30px;
        transition: font-size 0.2s;
      }
    }
  }
}
