.errorContainer {
  cursor: pointer;

  position: absolute;
  inset-block-start: 80px;
  inset-inline-start: 80px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  justify-content: center;

  inline-size: auto;
  padding: 15px 10px;

  background-color: red;
  border-radius: 18px;
}

.container {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  justify-content: space-between;

  inline-size: 120px;

  background-color: red;
  border-radius: 26px;

  span {
    font-size: 16px;
    color: white;
  }

  svg {
    cursor: pointer;

    position: absolute;
    inset-block-start: -4px;
    inset-inline-end: -4px;

    font-size: 26px;
    color: blue;

    transition: font-size 0.2s;
    @media (hover: hover) {
      &:hover {
        font-size: 30px;
        color: white;
        transition: font-size 0.2s;
      }
    }
  }
}
