.chatHeader {
  block-size: 50px;
  background-color: #4e618d;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-block-end: 1px solid #f3f3f3;
  box-sizing: border-box;
  z-index: 600;
  padding-inline-start: 15px;
}

.buttonContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.infoContainer {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 15px;

  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-inline-end: 15px;
    }

    svg {
      margin-inline-end: 10px;
      inline-size: 23px;
      font-size: 18px;
      text-align: center;
      transition: font-size 0.2s ease;

      @media (hover: hover) {
        &:hover {
          font-size: 22px;
          color: red;
        }
      }
    }

    img {
      block-size: 44px;
      inline-size: 44px;
      border-radius: 50%;
    }

    span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      inline-size: 100px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin-inline-start: 12px;
    }
  }
}
