.chatContainer {
  position: fixed;
  z-index: 500;
  overflow: visible;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 5px 10px 3px rgb(0 0 0 / 10%);
  transition: inset-inline-start ease 0.25s;
  inset-block-start: 30%;
  inline-size: 290px;
  block-size: 390px;
  inset-inline-start: -290px;
}

.toggleChat {
  position: absolute;
  padding: 6px;
  color: white;
  text-align: center;
  background-color: #8aca6b;
  transform: rotate(90deg);
  cursor: pointer;
  inset-block-start: 28px;
  inset-inline-end: -62px;
  border-start-end-radius: 8px;
  inline-size: 90px;
  border-start-start-radius: 8px;
}

.showChat {
  inset-inline-start: 0;
}
