.columnContainer {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-inline: 48px;
}

.headerArticle {
  color: #363945;
  font-weight: 500;
  font-size: 16px;
  margin-block-end: 20px;
}

.article {
  padding: 0;
  color: #9ca8b7;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-block-end: 10px;
}
