.mainContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 100px;

  @media (width <= 800px) {
    flex-direction: column;
    padding: 40px;
  }

  @media (width <= 590px) {
    padding: 15px;
  }

  @media (width <= 345px) {
    padding: 10px 0;
  }
}

.notMoney {
  color: #455a89;
  font-weight: 500;
  font-size: 18px;
  margin-block-end: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  inline-size: 100%;
  padding-block-start: 30px;
}

.aside {
  margin-inline-end: 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 5px 10px 3px rgb(0 0 0 / 10%);
  @media (width <= 800px) {
    align-self: stretch;
    margin-inline-end: 0;
    margin-block-end: 15px;
  }
}

.headerAside {
  align-self: stretch;
  padding: 20px 26px;
  font-weight: 500;
  font-size: 18px;
  background-color: #f3f3f3;
}

.optionsContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  padding: 15px 0;
  margin-block-end: 10px;
}

.optionContainer {
  align-self: stretch;
  padding: 14px 58px;
  color: #455a89;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-block-start: 5px;
  @media (width <= 800px) {
    text-align: center;
  }

  @media (hover: hover) {
    &:hover {
      color: white;
      background-color: #455a89;
    }
  }
}

.currentOption {
  color: white;
  background-color: #455a89;
}
