@import '../../../styles/registration.module';

.mainContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  background-color: #3ea9f5;
  padding-block-start: 40px;
  block-size: 100vb;
}

.loginContainer {
  display: flex;
  flex-flow: column nowrap;
  background-color: #3ea9f5;
  min-inline-size: 300px;
  inline-size: 1200px;
}

.loginFormContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-block-start: 80px;
}
